<div class="container">
  <div class="col-md-12">
    <h1>Hobbies</h1>
      <p>Want to see other projects I've made? Go to my <a href="http://iamyxangel.deviantart.com/">DeviantArt</a> and you can read the descriptions about 
      why I make these pictures.</p>
  </div>
  
  
  <h2>Traditional Art</h2>
  
  <p>I've been drawing for a long time. In the 6th grade, I have drawn some pictures with references.</p>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag("vocaloid.jpg", :alt => "Vocaloid", :width => "500") %>
        <div class="caption">
          <h3>Vocaloid</h3>
          <p>These are three main characters that sing numerous of songs. Beside being an animated singer, 
          people love their music.</p>
        </div>
      </div>
    </div>
    
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag("newyear2.jpg", :alt => "New Year", :width => "500") %>
        <div class="caption">
          <h3>New Year</h3>
          <p>I sometimes draw for holidays. Usually I take a friend's character as the holiday's picture. 
          They usually don't know until I post it!</p>
        </div>
      </div>
    </div>
    
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag("signature.jpg", :alt => "Amy", :width => "500") %>
        <div class="caption">
          <h3>Grand Chase - Amy Muse</h3>
          <p>This is one sketch for a friend's signature. I use many references to draw this. I avoid making 
          too much mistakes, so I add in notes for digital work.</p>
        </div>
      </div>
    </div>
  </div>
  
  <h2>Digital Art</h2>
  
  <p>Digital art is self-explanatory. I use a program called Paint Tool Sai. 
  It's easy to use. Here are some examples that I've completed.</p>
  
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag("arme.png", :alt => "Grand Chase - Arme Ethereal", :width => "500") %>
        <div class="caption">
          <h3>Grand Chase - Arme Ethereal</h3>
          <p>This is from a game called Grand Chase. A friend requested me to draw their 
          favorite character with the certain armor. </p>
        </div>
      </div>
    </div>
    
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag("elLuCiel.png", :alt => "LuCiel", :width => "500") %>
        <div class="caption">
          <h3>Elsword - Lu & Ciel</h3>
          <p>This is from a game called Elsword. I drew this for a contest in 2015. My drawing came in 
          runner-ups.</p>
        </div>
      </div>
    </div>
    
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag("eMsLiron2015.png", :alt => "Amy & Liron", :width => "500") %>
        <div class="caption">
          <h3>ExtaliaMS - Me & Liron</h3>
          <p>This is from a game called ExtaliaMS. I drew this for a close friend's birthday.</p>
        </div>
      </div>
    </div>
  </div>
</div>